# Model Saves
*.pth.tar

# Wandb directory
wandb/*

# Python 
venv/*

__pycache__/

# Vscode
.vscode/*

# Data 
data/interim/*
data/processed/*
data/raw/*
checkpoints/*

experimenting.py
logs/*

keys.py
cmds.md
pjit_notes.md

.gitignore

analysis/processed/*